.container {
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .container {
    scroll-snap-type: none;
    background-color: #000;
  }
}
